.jumbotron {
	color: #6d5f4a;
	font-family: Garamond;
	background-color: rgb(185, 179, 179);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding-left: 70px;

}


#metaPanel {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	background-color: #bbbff9;
	background-color: #2c574a;
	color: #ffe272;
	letter-spacing: 2px;

	
}

#metaPanel .panel-header {
	text-align: center;
}

#selDataset {
	padding: 7px;
	color: black;
}

#samplePanel {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	text-align: center;
	color: #ffe272;
	background-color: #c6bfa5;
	padding-left: 100px;
}
